# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#logs
*.log

# Executables
*.exe
*.out
*.app

#build folder
**/build/*
**/out/*
**/bin/*

#data
**/raw_data/*
**/unique_identified/*
**/datasets/**/index/*
**/datasets/**/exact/*

#configurations
*.conf

#stats
*.stat

.vscode/

**/third_party/*

# Cluster specific files
**/talas-cluster-scripts/*